[submodule "firmware-research/third_party/libopencm3"]
	path = firmware-research/third_party/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "firmware-research/third_party/tinyusb"]
	path = firmware-research/third_party/tinyusb
	url = https://github.com/hathach/tinyusb.git
